*{
    scroll-behavior: smooth;
}
body{
    margin: 0;
}
h1,h2{
    font-family: 'Raleway', sans-serif;
}
div.underline{
    
    border-bottom: 3px solid #000;
}

p{
    font-family: 'Lato', sans-serif;
    padding: 10px;
}

/* incomplete */
nav{
    width: 100%;
    height: 75px;
    position: fixed;
    background: #a74c00;
    color: #fff;
    z-index: 2;
    clear: both;
    box-shadow: 0 5px 10px #eee;
    -webkit-box-shadow: 0 5px 10px #eee;
    -moz-box-shadow: 0 10px 40px #eee;
}
nav h1{
    float: left;
    padding-left: 12%;;
    padding-top: 5px;
}
.nav-show{
    /* display: none; */
    float: right;
    width:400px;
    padding-top: 13px;
    padding-right: 150px;
}
.nav-show li{
    list-style: none;
    display: inline;
    font-family: 'Raleway', sans-serif;
    font-weight: bold;
    padding-top: 5px; 
    padding-left: 2%;
}
.nav-hide-bars{
    display: none;
}
.nav-hide{
    display: none;
    /* background: #2b363b; */
}
.nav-hide{
    float: right;
    padding-right: 0;
    padding: 5px;
}
.nav-hide li{
    list-style: none;
    display: block;
    font-family: 'Raleway', sans-serif;
    font-weight: bold;
    padding: 5px; 
}

nav a{
    color: #fff;
    text-decoration: none;
    padding: 3px;
    margin-bottom: 3px;
}
nav a:hover{
    padding-bottom: 2px;
    border-bottom: 2px solid #512d0f;
}

header{
    padding-top: 90px;
    background: #da8136;
    color: #fff;
    
}
.head-wrapper{
    padding-top: 60px; 
    width: 100%;
   
}

.top-img{
    margin-top: 60px;
    position: relative;
    left: 40.5%;
    width: 18%;
    display: block;
    clear: both;
    border: 4px solid #a74c00;
    border-radius: 20px;
}
.head-text1 {
    margin-top: 50px;
    text-align: center;
}
.head-text1 h1{
    font-size: 40px;
    display: inline;
    padding: 15px 10px;
    border-bottom: 3px solid #fff;
}
.head-text1 h3{
    margin-top: 40px;
}
.head-text2 {
    margin-top: 150px;
    text-align: center;
}
.head-text2 h2{
    display: inline;
    padding: 15px 10px;
    border-bottom: 3px solid #fff;
}
.head-text2 p{
    padding: 30px;
    margin: 25px 100px;
}
main{
    height: 150px;
    clear: both;
    
}
main h1{
    text-align: center;
}

/* MAIN (SLIDER) */
/* MAIN (SLIDER) */

.container{
    /* background: #f00; */
    width: 90%;
    height: 100%;
    margin: 80px auto;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.slider{
    margin-top: 2%;
    /* background: #00f; */
    width: 95%;
    margin-left: 2%;
    height: 450px;
    /* border: 2px solid #000; */
    overflow: hidden;
    /* margin-left: 5%; */
    display: flex;
    flex-direction: column;
    justify-content: center;

}
.slide{
    text-align: center;
    display: none;
}
.slide.active{
    display: inline-block;
}
.slide img{
    width: 100%;
}

.slider-nav{
    margin-top: 2%;
    /* background: #eee; */
    margin-left: 45%;

}
.prev{
    /* margin-right: -45px; */
    z-index: 1;
}
.next{
    /* margin-left: -45px; */
    z-index: 1;
}

article{
    background: #da8136;
    color: #fff;
    text-align: center;
    padding-top: 50px;
}
article h1{
    padding-top: 50px;
    display: inline;
    padding: 15px 10px;
    border-bottom: 3px solid #fff;
}
h1.testhead{
    text-align: center;
    /* display: inline; */
    
}
.test1,.test2,.test3{
    /* width: 60%; */
    padding-top: 35px;
    text-align: center;
}
.quotes{
    padding: 50px 10px;
    display: none;
}
.writer{
    display: none;
}
.article-bottom{
    padding-bottom: 70px;
}

aside{
    /* width: 80%; */
    padding: 20px 15%;
    clear: both;
}
.contact-me{
    text-align: center;
    
}

aside h1{
    display: inline;
    padding: 15px 10px;
    border-bottom: 3px solid #fff;
}
#f1 input{
    height: 25px;
    /* border: none; */
    border-style: groove;
    border-radius: 2px;
    padding-left: 5px;
}
/* ??? some properties not working */
.submit-button {
    width: 50px;
    height: 60px;
    /* padding: 10px; */
    text-align: center;
    text-shadow: none;
    background: #da8136;
    color: #fff;
    border-style: outset;
    border-radius: 15px;
}
#f1 label[name="label1"] {
    grid-area: label1;
}
#f1 input[name="name"] {
    grid-area: name;
}
#f1 label[name="label2"] {
    grid-area: label2;
}
#f1 input[name="email"] {
    grid-area: email;
}
#f1 label[name="label3"] {
    grid-area: label3;
}
#f1 input[name="phone"] {
    grid-area: phone;
}
#f1 label[name="label4"] {
    grid-area: label4;
}
#f1 textarea {
     grid-area: message;
}
#f1 input[type="submit"] {
     grid-area: submit;
}
#f1 {
    margin-top: 60px;
    display: grid;
    grid-template-areas:
        'label1 label1 label1'
        'name name name'
        'label2 label2 label2'
        'email email email'
        'label3 label3 label3'
        'phone phone phone'
        'label4 label4 label4'
        'message message message'
        'message message message'
        'message message message'
        'message message message'
        'message message message'
        'message message message'
        'message message message'
        'message message message'

        'submit submit submit';
    grid-gap: 15px;
    padding: 10px;
}
.go-top{
    width: 50px; 
    height: 30px; 
    /* background-color: #203356; */
    position: fixed; 
    bottom:5%; 
    right: 1%;
    padding-top: 10px;
}
.go-top a{
    color: #ccc;
}
.button-center{
    text-align: center;
    
}
footer{
    height:75px;
    background: #a74c00;
    color: #fff;
    width: 100%;
}
footer h2{
    float: left;
    font-size: 14px;
    padding-top: 17px;
    padding-left: 15%;
}
footer ul{
    float: right;
    margin-right: 150px;
    padding-top: 5px;
}
footer ul li{
    /* float: right; */
    list-style: none;
    display: inline;
    padding-left: 15px;
}
footer a{
    color: #fff;;
}

/* RESPONSIVENESS */
@media only screen and (max-width: 775px) {
    nav{
        width: 100%;
        height: 100px;
        
    }
    nav h1{
        padding-left: 35%;;
        padding-top: 2%;
    }
   
    .nav-show{
        display: none;
    }
    .nav-hide-bars{
       
        display: inline-block;
        float: right;
        margin-right: 2%;
        margin-top: 5%;
        /* position: fixed;
        z-index: 1; */

        
    }
    /* .nav-hide{
        margin: 0;
        padding: 5px;
    } */
    
    .nav-hide-bars:hover ~ .nav-hide{
        display: inline-block;
        background: #a74c00;
        /* float: right; */
        /* margin-right: 2%; */
        
    }
    /* .nav-hide-bars:hover ~ .nav-hide ul{
        display: inline-block;
    } */
    .nav-hide:hover{
        display: inline-block;
        background: #a74c00;
    }

    .head-wrapper{
        /* padding-top: 15px;  */
    }

    .top-img{
        margin-top: 55px;
        padding-top: 0; 
        position: relative;
        left: 32%;
        width: 35%;
        display: block;
        clear: both;
        border-radius: 20px;
    }

    /* MAIN SLIDER */
    .container{
        /* background: #f00;  */
        margin: 40px auto;
       
    }
    .slider-heading h1{
        margin-bottom: 2%;
        padding-bottom: 2%;
    }
    .slider{
        height: 250px;
        margin-bottom: 2%;
        padding-bottom: 2%;
    }
    .slider-nav{
        margin-top: 0;
        padding-top: 0;
        /* background: #eee; */
        margin-left: 40%;
    }
    .prev{
        margin-top: 5%;
        z-index: 1;
    }
    .next{
        margin-top: 5%;
        z-index: 1;
    }
    .head-text1 {
        margin-top: 20px;
        text-align: center;
    }
    .head-text1 h1{
        font-size: 30px;
        padding: 10px 10px;
       
    }
    .head-text1 h3{
        margin-top: 25px;
    }
    .head-text2 {
        margin-top: 50px;
        text-align: center;
    }
    .head-text2 h2{
        display: inline;
        padding-bottom: 15px;
        border-bottom: 3px solid #fff;
    }
    .head-text2 p{
        padding: 5px 5px 25px 5px;
        margin: 25px 100px;
    }
    .quotes{
        padding: 30px 20px;
        display: none;
    }
    footer{
        height: 100px;
    }
    footer h2{
        /* float: left; */
        text-align: center;
        font-size: 14px;
        padding-top: 15px;
        /* padding-left: 1%; */
        display: inline;
    }
    footer ul{
        /* text-align: center; */
        margin-right: 45px;
        padding-top: 5px;
    }
    footer ul li{
        /* text-align: center; */
        list-style: none;
        display: inline;
        /* padding-left: 5px; */
    }
}
    @media only screen and (max-width: 450px) {
        nav h1{
            padding-left: 35%;;
            padding-top: 5%;
        }
        .nav-hide-bars{
            margin-right: 2%;
            margin-top: 8%;
        }
        .nav-hide{
            padding: 0;
        }
        .nav-hide ul{
            padding: 2px 0 0 5px;
        }
        .nav-hide li{
            list-style: none;
            display: block;
            font-family: 'Raleway', sans-serif;
            font-size: 12px;
            font-weight: bold;
            padding: 3px; 
        }
        .nav-hide a{
            padding-left: 0; 
        }

        /* MAIN (SLIDER) */
        /* MAIN (SLIDER) */
        .slider-nav{
            margin-top: 0;
            margin-left: 35%;
        }
        footer h2{
            /* float: left; */
            text-align: center;
            font-size: 14px;
            padding-top: 5px;
            /* padding-left: 1%; */
            display: inline;
            margin-left: -15%;
        }
        footer ul{
            text-align: center;
            /* float: right; */
            margin-right: 130px;
            padding-top: 2px;
        }
        footer ul li{
            /* float: right; */
            list-style: none;
            display: inline;
            /* padding-left: 5px; */
    }


}